<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<style>
    .carousel-inner {
        width: 80%;
        margin: 20px auto;
    }

    .carousel-control-prev-icon {
        background-image: url(./team/download1.svg);
    }
    .carousel-control-next-icon {
        background-image: url(./team/download2.svg);
    }
    .card-img-top{
        height: 280px;
    }
</style>

<body> 
  <body> <h1> <img src = "https://st.depositphotos.com/9851828/51509/v/380/depositphotos_515093366-stock-illustration-women-figure-saree-vector.jpg?forcejpeg=true"width="75" height="75">mac shop...</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/16/d3/eb/16d3eb478c2e7d73e9f4e80972c83aa6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                            
                                
                                
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                               </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/3f/cb/10/3fcb10109debfcde660a38242e428157.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                         <p class="card-text">price:2000/-<br>
                                           shipping charge;300/-<br>
 
                                           <button>add to cart</button><br>
                               
                               
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/b7/8f/67/b78f67bfcc4bb13b4264c1acccd9ed03.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                                
                             
                             
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/21/2b/2d/212b2db2722052a137a559781fbcf4c8.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                               <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/4f/e0/62/4fe062d3629fcc7f027d5684b18615a4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                                 <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/28/c3/c8/28c3c83e45074b17d2066c5d38cae5dc.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                             
                             
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/ba/e1/85/bae185676f347bc417749aa621d7c84e.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                              
                              
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/47/87/2d/47872d4980b23ee3c19a22bd2e2e4399.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                              
                              
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/f9/06/64/f90664165963efaff03825c31d88b8b7.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                           shipping charge;300/-<br>
                               
                               
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/d4/0d/fc/d40dfcc49bfe00fb9856ccea78b9e20f.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
 <p class="card-text">price:2000/-<br>
     shipping charge;300/-<br>
                               
                               
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/e9/61/6a/e9616abea6adb26211e4555dab936868.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">kolkatta fabric</h5>
 <p class="card-text">price:2000/-<br>
     shipping charge;300/-<br>
                               
                               
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://i.pinimg.com/236x/e5/32/6f/e5326f777a1b541a259359fcb60f088f.jpg" class="card-img-top" alt="...">
                            <div class="card-body"> <h5 class="card-title">kolkatta fabric</h5>
                                <p class="card-text">price:2000/-<br>
                                    shipping charge;300/-<br>
                                
                                
                                
                                    <button>add to cart</button><br>
                                    <a href="#" class="button">order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>














































































































































































































































